body {
    background: -webkit-gradient(radial, center top, 0, center top, 400, from(#f9f9f9), to(#FFFFF0));
    font-family: 'Blackjack', sans-serif;
}
.submitButton{
    background: blue;
    color: #FFFFFF;
    padding: 8px 12px;
    margin-top: 18px;
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    border-radius: 3px;
    font-size: 15px;
    text-align: center;
}
.prompt{
    margin-bottom: 6px;
}
h2{
    font-size: 24px;
}
.active{
    font-weight: bold;
}
#content {
    width: 960px;
    margin: 0 auto;
    position: relative;
}
.headline{
    margin-bottom: 24px;
    text-align: center;
}
#date{
    font-size: 44px;
}
ul {
    float: left;
    list-style: none;
    margin-right: 20px;
    -moz-border-radius:4px;
    -webkit-border-radius: 4px;
    border-radius:4px;
}
ul.menuitems{
    width: 300px;
    font-size: 27px;
}
li {
    display : list-item;
    text-align: -webkit-match-parent;
}
li.menuitem{
    margin-bottom: 6px;
    font: 13px;
    height: 33px;
}
p{
    font-size: 14px;
}
a {
    color: #0088CC;
}
.rsvp,
.info{
    float: right;
    width: 560px;
}
.list{
    margin-left: 20px;
}
.menu{
    float: left;
    width: 380px;
    margin-right: 20px;
}
.hidden{
    display: none;
}
@-webkit-keyframes rotate{
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
img.crab{
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
.imageContainer{
    margin-top: 80px;
    text-align: center;
}
.imageContainer input{
    padding: 5px;
    margin: 5px;
}
.imageContainer p{
    font-size: 10px;
}
.landing{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@font-face{
    font-family: Blackjack;
    src: url('black_jack.ttf') format('truetype');
}
