body {
    background: -webkit-gradient(radial, center top, 0, center top, 400, from(#f9f9f9), to(#FFFFF0));
    font-family: 'Blackjack', sans-serif;
    margin: 0
}
.submitButton{
    background: blue;
    color: #FFFFFF;
    padding: 8px 12px;
    margin-top: 18px;
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    border-radius: 3px;
    font-size: 15px;
    text-align: center;
}
.active{
    font-weight: bold;
}
.stageleft{
    display: block;
    position: absolute;
    width: 250px;
}
.viewport{
    left: -250px;
    position: absolute;
    transition: left .25s ease-in;
}
.viewport.hideStageLeft{
    left: 0;
}
.content {
    width: 320px;
    margin: 0;
    left: 250px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

}
h1{
    font-size: 20px;
    padding-top: 10px;
}
h2{
    font-size: 15px;
}

ul{
    list-style: none;
}

ul.menuitems{
    font-size: 15px;
    background: #ffffdd;
    display: none;
}
ul.menuitemsStageLeft{
    width: 200px;
    font-size: 15px;
    background: #ffffdd;
    margin-top:0;
    padding-top: 20px;
}

.headline{
    background: #ffffdd;
    text-align: center;
}
p{
    font-size: 14px;
}
a {
    color: #0088CC;
}
.rsvp,
.info,
.contact{
    width: 320px;
    background: #ffffdd;
}
.list{
    margin-left: 20px;
}
.menu{
    width: 320px;
}
.hidden{
    display: none;
}
@-webkit-keyframes rotate{
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
img.crab{
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
.imageContainer{
    margin-top: 80px;
    text-align: center;
    width: 320px;
}
.landing{
    display: none;
}
.hamburger{
    display: block;
    position: absolute;
    left: 15px;
    top: 10px;
}
@font-face{
    font-family: Blackjack;
    src: url('black_jack.ttf') format('truetype');
}
