body {
    background: -webkit-gradient(radial, center top, 0, center top, 400, from(#f9f9f9), to(#FFFFF0));
    background: -moz-radial-gradient(center top, circle, #F9F9F9, #fffff0);
    background: -ms-radial-gradient(center top, circle, #F9F9F9, #FFFFF0);
    font-family: 'Blackjack', sans-serif;
    margin: 0
}

select {
    background-image: url(arrow.svg);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 16px 16px, 100%, 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50px;
    padding: 4px 8px;
}
.submitButton{
    background: #5F9F9F;
    color: #FFFFFF;
    padding: 8px 12px;
    margin-top: 18px;
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    border-radius: 3px;
    font-size: 15px;
    text-align: center;
}
.prompt{
    margin-bottom: 6px;
}
h1{
    margin: 0;
    padding-top: 32px;
}
h2{
    font-size: 24px;
    margin-bottom: 5px;
}
.stageleft{
    display: none;
}
.active{
    font-weight: bold;
}
.content {
    width: 960px;
    margin: 0 auto;
    position: relative;
}
.headline{
    margin-bottom: 24px;
    text-align: center;
    background: #ffffdd;
}
#date{
    font-size: 44px;
}
ul {
    float: left;
    list-style: none;
    -moz-border-radius:4px;
    -webkit-border-radius: 4px;
    border-radius:4px;
}
ul.menuitems{
    width: 340px;
    font-size: 27px;
    background: #ffffdd;
    margin-top: 0;
    padding-top: 10px;
}
li {
    display : list-item;
    text-align: -webkit-match-parent;
}
li.menuitem{
    margin-bottom: 6px;
    font: 13px;
    height: 33px;
}
.plain{
    font-family: "Century Gothic",Helvetica,Arial,sans-serif;
}
p{
    font-size: 14px;
    font-family: "Century Gothic",Helvetica,Arial,sans-serif;
}
a {
    color: #0088CC;
}
li.menuitem a{
    text-decoration: none;
    color: #000000;
}
li.menuitem a:hover{
    text-decoration: underline;
    color: #000000;
}
.rsvp,
.info,
.contact{
    float: right;
    width: 540px;
    margin-left: 20px;
    background: #ffffdd;
}
.list{
    margin-left: 20px;
}
.menu{
    float: left;
    width: 380px;
    margin-right: 20px;
}
.hidden{
    display: none;
}
@-webkit-keyframes rotate{
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
img.crab{
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
.imageContainer{
    margin-top: 80px;
    text-align: center;
}
.imageContainer input{
    padding: 5px;
    margin: 5px;
}
.imageContainer p{
    font-size: 10px;
}
.landing{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.hamburger{
    display: none;
}
.aboveChoices{
    padding-bottom: 15px;
}
@font-face{
    font-family: Blackjack;
    src: url('black_jack.ttf') format('truetype');
}
